*{
    margin: 0px;
    padding: 0px;
}
#first{
}
#first h1{
    font-size: 59px;
    text-shadow: 3px 2px #b7b7b7;
}
#details{
    display: flex;
}
#details div.details_slides{
    box-shadow: -10px 14px 22px -3px #808080c7;
    height: 503px;
    width: 27%;
    margin: 12px 15px 20px 68px;
    background-color: #e5e5e5;
}
#details div h1{
    font-size: 30px;
    position: relative;
    top: 23px;
    text-shadow: none;
}
#details div hr{
    width: 81%;
    position: relative;
    top: 25px;
    left: 36px;
    padding: 0.8px;
    background: black;
}
#details div.details_slides div{
    position: relative;
    top: 46px;
    margin: 17px 20px 0px 30px;
}
#details div.details_slides div h3{
    margin: 42px 7px 0px 0px;
    font-size: 27px;
}
.subscribe_button{
    border: 2px solid black;
    position: relative;
    top: 15px;
    padding: 10px 27px;
    border-radius: 7px;
    background: black;
    color: white;
    font-size: 1rem;
}
.subscribe_button:hover{
    box-shadow: 3px 3px 11px 4px #00000082;
    
}
#banner{
    background-image: url(/Isha_Home_School.jpg);
    height: 579px;
    width: 100%;
    opacity: 25%;
}
#banner_subpart h1
{
    position: absolute;
    top: 779px;
    left: 256px;
    text-transform: uppercase;
    font-size: 2.4em;
}
#banner_subpart h3#fonts_banner_subpart
{
    position: absolute;
    top: 840px;
    left: 361px;
    font-size: 1.4em;
}
#banner_subpart h3#fonts_banner_subpart2
{
    position: absolute;
    top: 1093px;
    left: 360px;
    font-size: 1.4em;
}
#banner_subpart button
{
    position: absolute;
    top: 931px;
    left: 670px;
}